/******************************
*
*   Author: kekemato
*   Date: 04.10.18
*
******************************/

*{
    margin: 0;
    padding: 0;
}

p span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 a{
     color: blue;
     text-decoration: none;
 }

 a:visited{
    color:blue;
 }

 a:hover{
     color: purple;
     text-decoration: underline;
 }

 a:active{
     color: green;
 }

 #header{
     background-color: rgb(70, 134, 136);
     width: 100%;
     margin: 0;
     padding: 1px;
 }

 #header:hover{
     background-color:rgb(62, 155, 158)
 }

 #spans{
     margin-bottom: 5px;
 }

 .test{
     font-size: 13px;
 }


 #header > h1{
     color:red;
     text-decoration: underline;
 }

 #articles{
     margin: 4px 2px;
 }
 #articles h3 + p{
     font-weight: bold;
     color: palevioletred;
     margin-top: 3px;
 }

 a[href^="https"]{
     color: blue;
 }

 a[href$=".pdf"]{
     color:red;
 }

 span[class~="cool"]{
     font-weight: bold;
 }

 #articles h3:last-of-type{
     font-weight: bold;
     text-decoration: underline;

 }

 hr:first-of-type{
     height: 2px;
 }

ol {
    width: 25%;
    margin-left: 25px;
}

ol li:nth-child(even){
    background-color:grey;
}

ol li:nth-child(odd){
    background-color: royalblue
}
 ol li:first-child{
     font-weight: bold;
 }

 li:nth-of-type(2n + 1){
     border-bottom: dotted;
 }

 li.ending{
     text-decoration: underline;
 }

 p.ending{
     color: red;
 }