/******************************
*
*   Author: kekemato
*   Date: 04.10.18
*
******************************/

body{
    margin: 0;
    font-size: 16px;
}

p span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 a{
     color: blue;
     text-decoration: none;
 }

 a:visited{
    color:blue;
 }

 a:hover{
     color: #5e0959;
     text-decoration: underline;
     background-color: blanchedalmond; 
     cursor: pointer;
 }

 a:active{
     color:rgb(62, 175, 87);
 }

 #header{
     width: 100%;
     margin: 0;
     padding: 1px;
 }

 #header:hover{
     background-color:rgb(62, 155, 158)
 }

 #spans{
     margin-bottom: 5px;
 }

 .test{
     font-size: 13px;
 }


 #header > h1{
     color:red;
     text-decoration: underline;
 }

 #articles{
     margin: 4px 2px;
 }

articles hr:last-child{
    margin-bottom: 15px;
}

 #articles h3 + p{
     font-weight: bold;
     color: palevioletred;
     margin-top: 3px;
 }

 a[href^="https"]{
     color: blue;
 }

 a[href$=".pdf"]{
     color:red;
 }

 span[class~="cool"]{
     font-weight: bold;
     font-size: 0.8em;
 }

 #articles h3:last-of-type{
     font-weight: bold;
     text-decoration: underline;

 }

ol {
    width: 25%;
    margin-left: 5px;
}

li{
    font-size: 110%;
    font-family: fantasy, 'Arial Narrow Bold', serif;
}

ol li:nth-child(even){
    background-color:grey;
}

ol li:nth-child(odd){
    background-color: royalblue
}
 ol li:first-child{
     font-weight: bold;
 }

 li:nth-of-type(2n + 1){
     border-bottom: dotted;
 }

 li.ending{
     text-decoration: overline line-through underline;
 }

 p.ending{
     color: red;
     text-decoration: overline;
 }

 #spans span:nth-child(3){
     text-transform: capitalize;
     color: #505507;
 }

 #spans span:nth-child(5){
     text-transform: uppercase;
     color: rgb(133, 69, 223)
 }

 #spans span:last-of-type{
     text-transform: lowercase;
 }

 .box{
     border: 2px solid black;
     margin: 15px;
     padding: 5px;
     width: 10%;
     text-align: center;
     float: left;
 }

 .solid{
     border: 1px solid black;
 }

 .dashed{
     border: 2px dashed black;
 }

 .dotted{
     border: 2px dotted black;
 }

 .double{
     border: 6px double black;
 }

 .inset{
    border: 20px inset blue;
 }

 .outset{
    border: 20px outset blue;
 }

 .ridge{
    border: 20px ridge blue;
 }

 .groove{
    border: 20px groove blue;  
}

.block-test{
    margin:10px;
    padding: 5px;
    font-size: 20px;
    background-color: grey;
    display: inline-block;
}

#width-and-height-test div:first-child{
    width: 300px;
    height: 50px;
    background-color:gray;
    margin: 5px;
    border: 1px solid black;
    border-radius: 15px;
}

#width-and-height-test div:nth-child(2){
    width: 50%;
    height: 50px;
    background-color:gray;
    margin:5px;
    border: 1px solid black;
    border-radius: 10px 30px;
}

.inline-div{
    display:inline-block;
    width: 200px;
    height: 110px;
    text-align: center;
    background-color: rgb(201, 99, 99);
    margin:5px;
    padding-top: 90px;
    border: 1px solid black;
    border-radius: 100px;
}

#background{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c9/Black_star.png), url(https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: 50px, 100%;
    background-position: bottom right, top left;
    background-attachment: fixed;
    background-repeat: no-repeat, round;
}