/******************************
*
*   Author: kekemato
*   Date: 04.10.18
*
******************************/

*{
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 h1{
     color: red;
 }

 a{
     color: blue;
     text-decoration: none;
 }

 a:visited{
    color:blue;
 }

 a:hover{
     color: purple;
 }

 #header{
     background-color: rgb(70, 134, 136);
     width: 100%;
     margin: 0;
     padding: 1px;
 }

 .test{
     font-size: 13px;
 }
 #spans span{
     color:red;
 }
 
 span{
     color: rgb(92, 14, 165);
 }